loguru~=0.4.1
pandas~=1.0.3
numpy~=1.18.2
argparse~=1.4.0

# for google sheets
google-api-python-client~=1.8.0
google-auth~=1.11.3
google-auth-httplib2~=0.0.3
google-auth-oauthlib~=0.4.1

# for forecast
scipy~=1.4.1
matplotlib~=3.2.1
h5py~=2.10.0
tables~=3.6.1

# for flask
flask~=1.1.1
Pyro4~=4.79

# for auto-deploy
# breaks in 3.8.1, I think...
#gitpython