
.dataframe {
    width: 100%;
}

.container.index,
.container.working-results {
    margin: 50px 50px;
}
.container.index {
    text-align: center;
}
.container.index .row {
    display: inline-block;
}

.timestamp {
    position: absolute;
    top: 50px;
    left: 700px;
    font-size: 10pt;
    color: gray;
    border: 1px solid lightgray;
    padding: 5px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: -50px;
    font-size: 8pt;
    color: gray;
    border-top: 1px solid lightgray;
    padding: 2px;
}

.footer span {
    margin-left: 5px;
    margin-right: 5px;
}

.footer button
 {
    top: 10px;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin: auto;
    font-size: 6pt;
    width: 100px;
    height: 25px;
}

