[Unit]
Description=Pyro4 server for running quality control
After=network.target

[Service]
User=josh
Group=www-data
WorkingDirectory=/home/josh/quality-control
Environment="PATH=/home/josh/quality-control/proxyenv/bin"
ExecStart=/home/josh/quality-control/run_quality_service.py

[Install]
WantedBy=multi-user.target