[Unit]
Description=Gunicorn instance to serve quality control flaskapp
After=network.target

[Service]
User=josh
Group=www-data
WorkingDirectory=/home/josh/quality_control
Environment="PATH=/home/josh/quality_control/qc-env/bin"
ExecStart=/home/josh/quality_control/qc-env/bin/gunicorn --workers 3 --access-logfile /home/josh/log/gunicorn/qc-access.log --error-logfile /home/josh/log/gunicorn/qc-error.log --bind unix:flaskapp.sock -m 007 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target