[Unit]
Description=Gunicorn instance to serve quality control flaskapp
After=network.target

[Service]
User=josh
Group=www-data
WorkingDirectory=/home/josh/quality_control
Environment="PATH=/home/josh/quality_control/qc-env/bin"
ExecStart=/home/josh/quality_control/qc-env/bin/gunicorn --workers 3 --bind unix:flaskapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target