{% extends "header.html" %}
{% block body %}
<body>
<div class="container index">
    <div class="row">
        <h3>COVID19 QC Checks v0.01</h3>
        <table>
            <tr>
                <th>DataSet</th><th></th><th></th><th></th>
            </tr>
            <tr>
                <td>WORKING</td>
                <td><a class="button button-primary" href="/checks/working.html">HTML</a></td>
                <td><a class="button" href="/checks/working.csv">CSV</a></td>
                <td><a class="button" href="/checks/working.json">JSON</a></td>
            </tr>
            <tr>
                <td>CURRENT (API)</td>
                <td><a class="button button-primary" href="/checks/current.html">HTML</a></td>
                <td><a class="button" href="/checks/current.csv">CSV</a></td>
                <td><a class="button" href="/checks/current.json">JSON</a></td>
            </tr>
            <tr>
                <td>HISTORY (API)</td>
                <td><a class="button button-primary" href="/checks/history.html">HTML</a></td>
                <td><a class="button" href="/checks/history.csv">CSV</a></td>
                <td><a class="button" href="/checks/history.json">JSON</a></td>
            </tr>
        </table>
    </div>
</body>
{% endblock %}
