{% extends "header.html" %}
{% block body %}
<body>
<div class="container index">
    <div class="row">
        <h3>COVID19 QC Checks {{version}}</h3>
        <table>
            <tr>
                <th>DataSet</th><th></th><th></th><th></th>
            </tr>
            <tr>
                <td>WORKING</td>
                <td><a class="button button-primary" href="/checks/working.html">HTML</a></td>
                <td><a class="button" href="/checks/working.csv">CSV</a></td>
                <td><a class="button" href="/checks/working.json">JSON</a></td>
            </tr>
            <tr>
                <td>CURRENT (API)</td>
                <td><a class="button button-primary" href="/checks/current.html">HTML</a></td>
                <td><a class="button" href="/checks/current.csv">CSV</a></td>
                <td><a class="button" href="/checks/current.json">JSON</a></td>
            </tr>
            <tr>
                <td>HISTORY (API)</td>
                <td><a class="button button-primary" href="/checks/history.html">HTML</a></td>
                <td><a class="button" href="/checks/history.csv">CSV</a></td>
                <td><a class="button" href="/checks/history.json">JSON</a></td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <form>
        <div class="footer">
            <span id="loaded_at"></span> |
            <span>site started: {{ site_delta }} ago</span> |
            <span>service started: {{ service_delta }} ago</span>
            <script>
                function dformat(sd) {
                    const d = new Date(Date.parse(sd));
                    sd = d.toLocaleString('en-US')
                    sd = sd.replace(/:[0-9]{2} /, ' ')
                    return sd
                }
                const server_at = dformat("{{ server_now }}"); 
                document.getElementById("loaded_at").innerText = "loaded at: " + server_at;
            </script> 
        </div>
    </form>

</body>
{% endblock %}
